.entry {
  margin: 0 auto;
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  transition: background-color 0.5s, opacity 0.75s;
  transition-timing-function: ease-in-out;
  animation: zoomInLeft 0.5s ease-in-out;
  border-radius: 15px;

  &.notInView {
    width: 95%;
    opacity: 0;
    background-color: firebrick;
    margin: 0 auto;
  }
}

@keyframes zoomInLeft {
  from {
    transform: scale(0.5) translateX(-50px);
  }
  to {
    transform: scale(1) translateX(0px);
  }
}

.actionRow {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

.categoryText {
  padding: 0;
  margin: 0;
}
