@font-face {
  font-family: 'AllertaStencil-Regular';
  src: url(../fonts/AllertaStencil-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald.ttf) format('truetype');
}

@font-face {
  font-family: 'RedHatMono';
  src: url(../fonts/RedHatMono.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoSansMono';
  src: url(../fonts/NotoSansMono.ttf) format('truetype');
}

@font-face {
  font-family: 'CutiveMono-Regular';
  src: url(../fonts/CutiveMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OverpassMono';
  src: url(../fonts/OverpassMono.ttf) format('truetype');
}
