@import './utility/spacing.scss';
@import './utility/text.scss';
@import './utility/misc.scss';
@import './utility/flex.scss';
@import './utility/position.scss';
@import './utility/colors.scss';
@import './utility/buttons.scss';

html,
body {
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 1rem 0;
}
h1,
h2 {
  margin: 0 0 2rem 0;
}

.noStyleButton {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
}

// Tiptap Editor

.ProseMirror:focus {
  outline: none;
}

.pageWidth {
  /* padding-left: calc(calc(100vw - #{$headerWidth}) / 2); */
  margin: 0 auto;
  width: $headerWidth;
}

.sections {
  max-width: $headerWidth;
  margin: 0 auto;
}
