$gutter: 30px;
$border-width: 4px;
$dot-diameter: 8px;
$distance-from-top: 0.75rem;

.timeline {
  width: 100%;
  min-height: 100vh;
  background: black;
  padding: 100px 50px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(20% + 28px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.25s forwards;
    background: #ddd;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  color: black;
  .title {
    margin-bottom: 0.5em;
    float: left;
    width: 20%;
    padding-top: $distance-from-top;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    color: white;
    animation: zoomInLeft 0.5s ease-in-out;
    &:before {
      margin-top: calc($distance-from-top - 0.1rem);
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid firebrick;
      background-color: #fff;
      border-radius: 100%;
      top: 15%;
      right: -$dot-diameter;
      z-index: 99;
      transform: scale(0);
      animation: zoomIn 0.5s ease-in-out 0.5s forwards;
    }
    h3 {
      margin: 0;
      font-size: 120%;
    }
    p {
      margin: 0;
      font-size: 100%;
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 80%;
    padding-left: $gutter;
    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      color: #aaa;
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: '–';
        margin-right: 0.5em;
      }
    }
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomInLeft {
  from {
    transform: scale(0) translateX(-50px);
  }
  to {
    transform: scale(1) translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
