@import '../../styles//vars.scss';

$timelineContainerWidth: 1.5rem;
$timelineWidth: 0.2rem;
$dot-border-width: 0.1rem;
$distanceFromTop: 1rem;

.timelinePage {
  position: relative;
}

.chronicles {
  width: 100%;
}

.chronicleRow {
  display: flex;
}

.chronicleEmptyRow {
  display: flex;
  height: 3rem;

  @media (max-width: $breakPointS) {
    height: 2rem;
  }
}

.dateDesktop {
  margin: $distanceFromTop 0 0 1rem;
  animation: zoomInLeft 0.5s ease-in-out;
  width: 7rem;
  max-width: 7rem;
  min-width: 7rem;
  text-align: right;

  @media (min-width: $breakPointS) {
    display: block;
  }

  @media (max-width: $breakPointS) {
    display: none;
  }
}

.dateMobile {
  margin: $distanceFromTop 0 0.5rem 0.5rem;
  animation: zoomInLeft 0.5s ease-in-out;

  @media (min-width: $breakPointS) {
    display: none;
  }

  @media (max-width: $breakPointS) {
    display: block;
  }
}

.entryContainer {
  margin: 0rem 1rem 0rem 0;
  width: 100%;
}

.timeline {
  width: $timelineContainerWidth;
  position: relative;
  margin: 0 1rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.25s forwards;

  @media (max-width: $breakPointS) {
    margin: 0 0.5rem;
  }
}

.timelineLine {
  width: $timelineWidth;
  position: absolute;
  left: calc(($timelineContainerWidth - $timelineWidth * 2) / 2);
  background: white;
  height: 100%;
}

.timelineDot {
  position: absolute;
  left: 0;
  top: $distanceFromTop;
  width: calc($timelineContainerWidth - $dot-border-width * 2);
  height: calc($timelineContainerWidth - $dot-border-width * 2);
  border: 4px solid firebrick;
  background-color: #fff;
  border-radius: 100%;
  z-index: 99;
  transform: scale(0);
  animation: zoomIn 0.5s ease-in-out 0.5s forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomInLeft {
  from {
    transform: scale(0) translateX(-50px);
  }
  to {
    transform: scale(1) translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actionRow {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  display: flex;
  gap: 0.5rem;
  z-index: 100;
}

.entry {
  background: white;
}
